*.class

#package file

*.war
*.ear


#kdiff3 ignore

*.orig


#maven ignore

target/


#eclipse ignore


.settings/
.project
.classpath


#idea

.idea
/idea/
*.ipr
*.iml
*.iws


#temp file


*.log
*.cache
*.diff
*.patch
*.tmp


# system ignore

.DS_Store
Thumbs.db
————————————————
版权声明：本文为CSDN博主「OovEver」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/mupengfei6688/article/details/78701276