<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu201909.spring.model.mapper.EmpMapper">



	<resultMap type="edu201909.spring.domain.EmpInfo"

		id="empResultMapper">

		<id property="empno" column="empno" />

		<result property="ename" column="ename" />

		<result property="job" column="job" />

		<result property="mgr" column="mgr" />

		<result property="hiredate" column="hiredate" />

		<result property="sal" column="sal" />

		<result property="deptno" column="deptno" />

	</resultMap>



</mapper>